.game-space {
   background-color: #f0f0f0;
   padding: 20px;
   border-radius: 30px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
 }
 
 .player-choice {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
 }
 
 button {
   width: 100px;
   height: 100px;
   border: none;
   border-radius: 50%;
   background-color: #fff;
   cursor: pointer;
   transition: background-color 0.2s ease-in-out;
 }
 
 button:hover {
   background-color: #ccc;
 }
 
 .computer-choice {
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: bold;
 }
 
 .result {
   font-size: 36px;
   font-weight: bold;
   color: #934;
 }
 

/*Shadow Effects*/
.game-space{
   background-image: linear-gradient(to bottom,#f0f0f0,#e0e0e0);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
   0% {
     transform: scale(1);
   }
   50% {
     transform: scale(1.1);
   }
   100% {
     transform: scale(1);
   }
 }
 
 
 /* Media queries for responsive design */
 /* Mobile devices (max-width: 480px) */
 @media only screen and (max-width: 480px) {
    nav ul {
       flex-direction: column;
    }
 
    nav li {
       margin-right: 0;
    }
    /* CSS to style the audio element */
 audio {
    width: 90%;
    margin-top: 20px;
 }
 
 
    section {
       width: 100%;
       /* full width for mobile */
    }
 }
 
 /* Tablet devices (max-width: 768px) */
 @media only screen and (max-width: 768px) {
    nav ul {
       flex-direction: column;
    }
 
    nav li {
       margin-right: 0;
    }
    audio {
       width: 90%;
       margin-top: 20px;
    }
 
    section {
       width: 90%;
    }
 }
